doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Add Product
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/css/main.css')
  link(rel='stylesheet' href='/css/forms.css')
  script(src='main.js')
header.main-header
  nav.main-header__nav
    ul.main-header__item-list
      li.main-header__item
      a.active(href='/') Shop a product
      li.main-header__item
        a(href='/admin/add-product') Add Product
main
  h1 My Productes
  p List of all products
